#info {
  position: absolute;
  border-radius: 50%;
  filter: opacity(80%);
  width: 3vw;
  height: 3vw;
  left: 49%;
  top: 17%;
}

#info:hover {
  filter: opacity(100%);
  cursor: pointer;
}

body {
  background-color: #94b8b8;
  margin: 0px;
  overflow: hidden;
}

canvas {
  display: block;
}
