#info {
  position: absolute;
  border-radius: 50%;
  filter: opacity(80%);
  width: 5vw;
  height: 5vw;
}

#info:hover {
  filter: opacity(100%);
}

body {
  background-color: #94b8b8;
  margin: 0px;
  overflow: hidden;
}

canvas {
  display: block;
}
